
/** Make the menu item red so that it stands out **/
#grooveshark-addon-helloworld-menuitem
{
  color: red ! important;
}


/** Apply an image to our toolbarbutton.  Use multiple states in a
    single image and then reposition the viewport in order to avoid
    flickering on state change **/
#grooveshark-addon-toolbarbutton
{
  list-style-image: url(chrome://grooveshark-addon/skin/toolbar.png);
  -moz-image-region: rect(0px 16px 16px 0px);
}
#grooveshark-addon-toolbarbutton:hover
{
  -moz-image-region: rect(16px 16px 32px 0px);
}
#grooveshark-addon-toolbarbutton[disabled="true"]
{
  -moz-image-region: rect(48px 16px 64px 0px);
}
#grooveshark-addon-toolbarbutton[active="true"]
{
  -moz-image-region: rect(32px 16px 48px 0px);
}
